body {
    height: 200vh;
    /*to make the page scrollable */
}

ul {
    list-style: none;
    line-height: 1.8;

    a {
        text-decoration: none;
        color: black;
        transition: .3s;

    }

    a:hover {
        font-weight: bold;

        /* text-decoration: underline; */
    }
}

.sort-items::after {
    content: "";
    position: absolute;
    bottom: -0.5em;
    left: 0;
    width: 100%;
    border-bottom: .5px solid black;
}

.sorting-active {
    font-weight: bold;
    /* text-decoration: underline; */
}

.carousel {
    position: fixed;
    bottom: -120vh;
    width: 100%;
    height: 0px;

    .slider {
        width: 400vw;
        height: 400vw;
        max-width: 1500px;
        max-height: 1500px;

        left: 50%;
        transform: translateX(-50%);
        /* center horizontally and vertically */

        position: absolute;
    }
}

.student-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 15%;

    /* background-image: var(--bg-img);
    background-size: cover;
    background-position: center;
    background-color: transparent;
    background: none !important; */

    /* transition: all .2s ease; */

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* box-shadow: 0 0 40px var(--fav-color); */
        transition: all .2s ease;

    }

    h3 {
        text-align: center;
    }
}

.student-card.hovered img {
    box-shadow: 0 0 40px color-mix(in srgb, var(--fav-color) 40%, transparent);
    transform: translateY(-1em);
}

.inner-content {
    display: flex;
    /* margin: auto; */
    justify-content: center;

    h1 {
        position: fixed;
        bottom: 0;

    }
}

.sort-section {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    margin: 3em;

}

.filter-section{
    position: fixed;
    top: 0;
    right: 0;
    margin: 3em;

    div{
        display: flex;
        justify-content: center;

        a{
            text-decoration: none;
            color: black;
            padding-inline: 1rem;

            &:hover{
                text-decoration: underline;
            }
        }

        a:nth-of-type(2){
            border-left: 1px black solid;
        }
    }
}