@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: "Instrument Serif";
    src: url('../fonts/InstrumentSerif-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1,
h2 {
    font-family: "Instrument Serif", serif;
    font-weight: normal;
    text-transform: uppercase;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2.2em;
    margin-bottom: .5em;
}