html {
    --color: black;
    /*custom properties voor de kleuren om om te draaien hier onder*/
    --background: white;
}

html:has(.squad1j.active) {
    /* draait de kleuren om wanner de squadij de .active class er op heeft.*/
    --color: white;
    --background: black;
}


body {
    height: 200vh;
    /*to make the page scrollable */

    background: var(--background);
    color: var(--color);
}


a{
    color: var(--color);
}


ul {
    list-style: none;
    line-height: 1.8;

    a {
        text-decoration: none;
        color: var(--color);
        transition: .3s;

    }


}

.sort-section {
    position: fixed;
    top: 0;
    left: 0;
    margin: 3em;

    display: grid;
    grid-template-columns: 1fr auto;

    .selected{
        font-weight: 600;
        text-decoration: none;
        cursor:default;
    }
}

.sort-items {
    display: flex;
    flex-direction: column;
    padding-right: 1.5rem;
    border-right: 1px solid var(--color);
    height: 80px;

    grid-row-start: 2;

    & :hover {
        text-decoration: underline 1px solid;
    }
}

.sort-order {
    grid-row-start: 2;
    padding-left: 1rem;
    li{
        a{
            font-size: 1.5rem;
        }

        .opacity-arrow{
            opacity: 50%;

            &:hover{
                opacity: 100%;
            }
        }
    }
}


.carousel {
    position: fixed;
    bottom: -60rem;
    width: 100%;
    height: 0px;

    .slider {
        width: 400vw;
        height: 400vw;
        max-width: 1500px;
        max-height: 1500px;

        left: 50%;
        transform: translateX(-50%);
        /* center horizontally and vertically */

        position: absolute;
    }
}

.student-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 15%;

    /* background-image: var(--bg-img);
    background-size: cover;
    background-position: center;
    background-color: transparent;
    background: none !important; */

    /* transition: all .2s ease; */

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* box-shadow: 0 0 40px var(--fav-color); */
        transition: all .2s ease;

    }

    h3 {
        text-align: center;
        margin-top: .5em;
    }
}

.student-card.hovered img {
    box-shadow: 0 0 40px color-mix(in srgb, var(--fav-color) 40%, transparent);
    transform: translateY(-1em);
}

h1 {
    position: fixed;
    margin: 2rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color)
}

.sort-section {
    position: fixed;
    top: 0;
    left: 0;
    margin: 3em;

}

.filter-section {
    position: fixed;
    top: 0;
    right: 0;
    margin: 3em;

    div {
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            color: var(--color);
            padding-inline: 1rem;
            font-size: 1.5rem;

            &.active {
                font-weight: 600;
                text-decoration: none;
                cursor:default;
            }

            &:hover {
                text-decoration: underline 1px solid;
            }
        }

        a:nth-of-type(2) {
            border-left: 1px var(--color) solid;
        }
    }

    .squadall{
        text-decoration: none;
        color: var(--color);
        padding-inline: 1rem;
        display: flex;
        justify-content: center;

        &:hover {
            text-decoration: underline 1px solid;
        }

        &.active {
            font-weight: 600;
            text-decoration: none;
            cursor:default;
        }
    }
}

/*----------- zoekbalk ----------*/
form{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;

    input{
        appearance: none;
        border: 1px solid var(--color);
        background-color: var(--background);
        padding: .5rem 1rem .5rem 1rem;
        width: 30rem;
        color: var(--color)
    }
}

/* -------------- START LIKE FUNCTION -------------- */
.like-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: .5em;

    .like-button {
        cursor: pointer;
        fill: red;
    }
}

.liked {
    fill: red;
    animation: like-animation 0.3s ease;

}

@keyframes like-animation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}